body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../imgs/360_F_325384191_sg1D5lYWfRedGQsBm8xIHnsSAUUUVxGE.jpg);
    background-size: 100vw 100vh;

}
.d{
    text-align: center;
    border: none;
    height: 50%;
    width: 50%;
    margin: auto;
    border: solid goldenrod 1px;
    border-radius: 6px;
    margin-top: 120px;
}
h1{
    color:goldenrod;
    margin-top: 20px;
}
p{
    color: white;
    margin-top: 30px;
}
#message-el{
  font-style: italic;  
}
#start{
    margin: auto;
    display: block;
    color: #016f32;
    width: 150px;
    background: goldenrod;
    margin-top: 40px;
    padding: 7px;
    border: none;
    border: solid black 1px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 2px;
}
#ncard{
    margin: auto;
    display: block;
    color: #016f32;
    width: 150px;
    background: goldenrod;
    margin-top: 4px;
    padding: 7px;
    border: none;
    border: solid black 1px;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 2px;
}
.d p{
    margin-top: 40px;
}